

/* 
  Body Css  
  Any css that will affect the body of the page */
  .body_image_bg {
    background-image: url("https://res.cloudinary.com/dfhcjbewi/image/upload/v1652313126/P1036156_lkkcf8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;

  }

  .body_color_bg {
    background-color: black;
    background-position: cover;
    background-repeat: no-repeat;
    background-size: fill ;
    height: 100%;

    
  }

  body,html{
    background-color: #EBE667;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    width: 100%;
    height: 100%;
  }



/*  Text Css => Any Csss that modifies the text on screen*/

