/* Any css that will affect the body of the page */


* {
  box-sizing: border-box;
}

.content {
    padding-right: 20px ;
    padding-left: 15px;

      height: 780px ; 

    font-family: 'Didact Gothic', sans-serif;
}
.gallery {
  padding-right: 20px ;
  padding-left: 15px;
  height: 804px;
  margin-bottom: 200px;

  font-family: 'Didact Gothic', sans-serif;
}


.about_page {
  padding-right: 84px;
  padding-left: 117px;

  height: 1145px;

  font-family: 'Didact Gothic', sans-serif;
}

.text_div {
    padding-left: 150px ;
    padding-right: 10px ;
    font-family: 'Didact Gothic', sans-serif;
    padding-top: 150px;
}
.title_text{
 font-size: 64px ;
 font-weight: 900;
 color:  azure;
}
.title_text2{
  padding-left: 115px;
    font-size: 64px ;
    font-weight: 700;
    color: #8C52FF; 
   }


.sub_text {
    font-size: 28px ;
    color: azure;
    font-weight: lighter;
    letter-spacing: 8px;
}


.portifolio {
    height: 500px ;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 500px;
    align-items: center;
    
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.column img {
     
    width: 100%;
    height: 100%;
    display: block;
    object-fit : cover;
    /* margin: auto; */

  }
.column h2 {

        bottom: 250px; 
        color: #f1f1f1; 
        width: 100%;
        transition: .5s ease;
        color: white;
        font-size: 20px;
        position: relative;
        text-align: center;
      }



.columngrid img {
    
    width: 100%;
    height: 100%;
    object-fit :cover;
    margin: auto;
    display: block;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin-inline: auto;
    height: 680px ;
    padding-bottom: 1fr;
  }



div.outer {
  height: 100%;
  width: 100%;
  /* Used overflow to create scroll */
  overflow: auto;
}

div.inner {
  position: relative;
  height: 100%;
  width: 100%;
}


.about_grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-inline: auto;
  padding-bottom: 1fr;

}
.grid_column{

  margin: auto;

}
.right {
  width: 100%;
  padding-left: 200px;
  padding-bottom: 25px;

}

.left {

  width: 100%;

  padding: 10px;
}



.about_grid-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-inline: auto;
  padding-bottom: 1fr;
   padding-left: 90px;

}
.grid_column{

  margin: auto;

}


.columnimage img {
    
    width: 100%;
    height: 100%;
    object-fit : cover;
    display: block;
    padding-bottom: 25px;
  }
  
  .columnimage{
    
    width: 295px;
    height: 398px;
    display: block;
   
  }
  .text_container {
    float: left;
    width: 480px;
     padding-left: 20px;
    padding-right: 100px;
    padding-top: 20px;

  }


.right_about {
    width: 100%;
    padding: 25px;
  }
  
.grid_about {
    display: grid;
    grid-template-columns: auto auto auto;
     background-color: #EBE667;
    padding: 10px;
    padding-top: 33px;
        margin: auto;
  }
.grid-item {
    padding: 20px;
    font-size: 30px;
    text-align: center;
      margin: auto;
      }

.padding_top{

padding-top: 114px;
}

.flex-container {

display: flex;
padding-left: 125px;
flex-direction: row;
align-items: baseline;
justify-content: flex-start;
flex-wrap: wrap;
text-align: center;

}
/* 
.flex-container > div {

width: 200px;
text-align: center;
margin: auto; */



.currentpage{

  font-size: 64px ;
  font-weight: 700;
  color: #8C52FF; 
  text-decoration: underline;
  margin-right: 95px;
  
  }
.nextpage{
  font-size: 44px ;
  font-weight: 300;
  color: #8C52FF; 
  margin-right: 65px;
  }
  
a:link { text-decoration: none; }


a:visited { text-decoration: none; }